<a href="https://colab.research.google.com/github/khalilabdulnour/PYTH225_Homework/blob/master/basic_types_psets_HW1_Khalil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.
tbd = None
print(tbd)

None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

fav_number = 29
# favourite number is my age
print(fav_number)


# Create another variable that represents your favorite color, and do the same steps as above.

# favourite colour
fav_col = "green"
print(fav_col)

29
green



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

"""
La Colegiala
Rodolfo Aicardi
"""

fave_song = '''
Hoy te he visto,
Con tus libros caminando
Y tu carita de coqueta,
Colegiala de mi amor
'''

print(fave_song)

Hoy te he visto,
Con tus libros caminando
Y tu carita de coqueta,
Colegiala de mi amor

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game show. As this person plays, you need to update their score to reflect gains and 
# losses in points. Each math operation below dictates the change in the competitor's score to be made after each of his or her actions.

# Complete the below math operations and print the results to show the changes in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50

latest_score += 50
print(latest_score)

# Subtract 90

latest_score -= 90
print(latest_score)

# Multiply 10

latest_score *= 10
print(latest_score)

# Divide 150

latest_score /= 150
print(latest_score)

# Modulus 3

latest_score %= 3
print(latest_score)

100
150
60
600
4.0
1.0



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 

var1 = "it is "
var2 = "what it is"
print(var1 + var2)

it is what it is



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

print(a + b)


# B)
c = '0'
d = '2'

print(c + d)
print(int(c) + int(d))

# C)
e = '0'
f = 2

print(int(e) + f)

2
02
2
2



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print(a + b)

# B)
c = False
d = False

print(c + d)

# C)
e = True
f = False

print(e + f)

2
0
1

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5

five = float(five)
print((five), type(five))

five = int(five)
print((five), type(five))

zero = 0
zero = float(zero)
print((zero), type(zero))

zero = int(zero)
print((zero), type(zero))

neg_8 = -8
neg_22 = -22

5.0 <class 'float'>
5 <class 'int'>
0.0 <class 'float'>
0 <class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five = str(five)
neg_8 = str(neg_8)
T = str(T)
F = str(F)

print((five), type(five))
print((neg_8),type(neg_8))
print((T), type(T))
print((F),type(F))

five = int(five)
neg_8 = int(neg_8)
T = bool(True)
F = bool(False)

print((five),type(five))
print((neg_8),type(neg_8))
print((T), type(T))
print((F),type(F))

5 <class 'str'>
-8 <class 'str'>
True <class 'str'>
False <class 'str'>
5 <class 'int'>
-8 <class 'int'>
True <class 'bool'>
False <class 'bool'>



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

one = bool(one)
zero = bool(zero)

print((one),type(one))
print((zero),type(zero))

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

one = float(one)
zero = float(zero)

print((one), type(one))
print((zero),type(zero))

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

one = bool(one)
zero = bool(zero)

print((one),type(one))
print((zero), type(zero))
            
# D) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)

print((one), type(one))
print((zero),type(zero))


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

ten = bool(ten)
print((ten),type(ten))

True <class 'bool'>
False <class 'bool'>
1.0 <class 'float'>
0.0 <class 'float'>
True <class 'bool'>
False <class 'bool'>
1 <class 'int'>
0 <class 'int'>
True <class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

# T = bool(T)
F = bool(F)

print((T), type(T))

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'T' and 'F' back into boolean values. Print the result and the datatype of the result.

True <class 'bool'>

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'olives'
item_name_2 = 'cheese'
item_name_3 = 'tomato'
item_name_4 = 'napkin'
item_name_5 = 'soap'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = .4
item_price_2 = 3.56
item_price_3 = .1
item_price_4 = 4.01
item_price_5 = .92

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = 15
item_quant_2 = 1
item_quant_3 = 5
item_quant_4 = 2
item_quant_5 = 3

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

total1 = (f'{item_price_1 * item_quant_1:.2f}')
total2 = format(item_price_2 * item_quant_2, '.2f')
total3 = format(item_price_3 * item_quant_3, '.2f')
total4 = format(item_price_4 * item_quant_4, '.2f')
total5 = format(item_price_5 * item_quant_5, '.2f')

print(f'''
{item_quant_1} {item_name_1} = ${total1}
{item_quant_2} {item_name_2} = ${total2}
{item_quant_3} {item_name_3} = ${total3}
{item_quant_4} {item_name_4} = ${total4}
{item_quant_5} {item_name_5} = ${total5}
''')

15 olives = $6.00
1 cheese = $3.56
5 tomato = $0.50
2 napkin = $8.02
3 soap = $2.76



### P2.PY

In [0]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for name, price, quantity. Here's how it works:

# item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input('name your first item: ')
item_name_2 = input('name your second item: ')
item_name_3 = input('name your third item: ')
item_name_4 = input('name your fourth item: ')
item_name_5 = input('name your fifth item: ')

# use input() function and ask user to name prices
item_price_1 = float(input(f'how much does {item_name_1} cost? '))
item_price_2 = float(input(f'how much does {item_name_2} cost? '))
item_price_3 = float(input(f'how much does {item_name_3} cost? '))
item_price_4 = float(input(f'how much does {item_name_4} cost? '))
item_price_5 = float(input(f'how much does {item_name_5} cost? '))

# use input() function and ask user to name quants
item_quant_1 = int(input(f'how many {item_name_1} do you want? '))
item_quant_2 = int(input(f'how many {item_name_2} do you want? '))
item_quant_3 = int(input(f'how many {item_name_3} do you want? '))
item_quant_4 = int(input(f'how many {item_name_4} do you want? '))
item_quant_5 = int(input(f'how many {item_name_5} do you want? '))

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

totala = format(item_price_1 * item_quant_1, '.2f')
totalb = format(item_price_2 * item_quant_2, '.2f')
totalc = format(item_price_3 * item_quant_3, '.2f')
totald = format(item_price_4 * item_quant_4, '.2f')
totale = format(item_price_5 * item_quant_5, '.2f')

print(f'''
{item_quant_1} {item_name_1} = ${totala}
{item_quant_2} {item_name_2} = ${totalb}
{item_price_3} {item_name_3} = ${totalc}
{item_quant_4} {item_name_4} = ${totald}
{item_quant_5} {item_name_5} = ${totale}
''')

name your first item: apple
name your second item: banana
name your third item: tomato
name your fourth item: pear
name your fifth item: melon
how much does apple cost? .74
how much does banana cost? .63
how much does tomato cost? .52
how much does pear cost? .65
how much does melon cost? 2.08
how many apple do you want? 2
how many banana do you want? 5
how many tomato do you want? 4
how many pear do you want? 3
how many melon do you want? 1

2 apple = $1.48
5 banana = $3.15
0.52 tomato = $2.08
3 pear = $1.95
1 melon = $2.08