<a href="https://colab.research.google.com/github/khalilabdulnour/PYTH225_Homework/blob/master/PYTH225_KhaleelAbdulnour.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  LISTS

## LIST OPS

### P1.PY

In [0]:
"""
Basic List Operations I
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.

animals = ['elephant','tiger','otter','orangutang','penguin']


# Print the 4th animal on the list.
print(animals[3])

# Add 'tortoise' to the beginning of the list.

animals.insert(0,'tortoise')
print(animals)

# Print the length of the list.

print(len(animals))

# Remove 'orangutan' from the list.
animals.pop(4)
print(animals)

# Sort the list alphabetically and print it out.
animals.sort()
print(animals)

orangutang
['tortoise', 'elephant', 'tiger', 'otter', 'orangutang', 'penguin']
6
['tortoise', 'elephant', 'tiger', 'otter', 'penguin']
['elephant', 'otter', 'penguin', 'tiger', 'tortoise']



### P2.PY

In [0]:
"""
Basic List Operations II
"""

# Declare a list with 5 names, and print out the length of that list.

names = ['khal','dave','connor','taq','andy']

print(len(names))

# Print the 3rd name on the list

print(names[2])

# Delete the first name on the list

names.pop(0)
print(names)


# Re-add the name you deleted to the end of the list

names.append('khal')
print(names)

# Replace the 2nd name on the list with a new name.

names[1] = 'vitor'
print(names)

# Add 3 new names to the end of the list.

names2 = ('trevor', 'mohammad','george')
names.extend(names2)
print(names)

5
connor
['dave', 'connor', 'taq', 'andy']
['dave', 'connor', 'taq', 'andy', 'khal']
['dave', 'vitor', 'taq', 'andy', 'khal']
['dave', 'vitor', 'taq', 'andy', 'khal', 'trevor', 'mohammad', 'george']



### P3.PY

In [0]:
"""
Math Operations
"""

# Save a list with the numbers `2`, `4`, `6`, and `8` into a variable called `numbers`. Use this variable for all the problems in this PSET.

numbers = [2,4,6,8]
print(numbers)

# Print the max of `numbers`.

print(max(numbers))

# Pop the last element in `numbers` off; re-insert it at index `2` and print the resultant list.

numbers.pop()
numbers.insert(2, 8)
print(numbers)

# Pop the second number in `numbers` off.

numbers.pop(1)
print(numbers)

# Append `3` to `numbers`.

numbers.append(3)
print(numbers)

# Print out the average number.

# import statistics
print(statistics.mean(numbers))

[2, 4, 6, 8]
8
[2, 4, 8, 6]
[2, 8, 6]
[2, 8, 6, 3]
4.75

### **LIST MANIPULATION**

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'

cell = cell.split('.')
cell = int(''.join(cell))
print(cell)

11921680143



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]

import statistics

my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = max(nums) - min(nums)
my_mean = statistics.mean(nums)

# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

print(f'''
my_sum = {my_sum}
my_min = {my_min}
my_max = {my_max}
my_range = {my_range}
my_mean = {my_mean}
''')

my_sum = 174
my_min = 2
my_max = 30
my_range = 28
my_mean = 17.4



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]

# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = list1 * 2
print(list3)


# B) Combine the two given lists and assign them to list4.
list4 = list2 + list3
print(list4)

# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
print(list3)
list3[:3] = [13, 16, 19]
print(list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = set(list3 + list4)
list5 = list(list5)
print(list5)


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6, 2, 8, 6]
[10, 4, 12, 2, 8, 6, 2, 8, 6]
[2, 8, 6, 2, 8, 6]
[13, 16, 19, 2, 8, 6]
[2, 4, 6, 8, 10, 12, 13, 16, 19]



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

cool_runnings[10] = "Yolo"
print(cool_runnings)
print()
l1 = cool_runnings[:3]
l1 = ' '.join(l1)
l2 = cool_runnings[3:6]
l2 = ' '.join(l2)
l3 = cool_runnings[6:9]
l3 = ' '.join(l3)
l4 = cool_runnings[9:]
l4 = ' '.join(l4)

print(f'''
{l1}
{l2}
{l3}
{l4}
''')

['Feel', 'the', 'rhythm.', 'Feel', 'the', 'rhyme.', 'Get', 'on', 'up.', "It's", 'Yolo', 'time!']


Feel the rhythm.
Feel the rhyme.
Get on up.
It's Yolo time!



## SORTING

### P1.PY

In [0]:
"""
Spotify Playlists - Sorting
"""

# You work for Spotify and are creating a feature for users to alphabetize their playlists by song title. Below is a list of titles from a sample playlist.

playlist_titles = ['Tiny Dancer', 'At Last', 'Fortunate Son', 
'Hey Jude', 'Isn\'t She Lovely', 'Just the Way You Are', 'I\'m Yours',
'Vienna', 'Roxanne', 'Dancing in the Moonlight']

# Alphabetize these songs and print the result.

playlist_titles.sort()
print(playlist_titles)

# Now do the reverse.

playlist_titles.sort(reverse = True)
print(playlist_titles)

['At Last', 'Dancing in the Moonlight', 'Fortunate Son', 'Hey Jude', "I'm Yours", "Isn't She Lovely", 'Just the Way You Are', 'Roxanne', 'Tiny Dancer', 'Vienna']
['Vienna', 'Tiny Dancer', 'Roxanne', 'Just the Way You Are', "Isn't She Lovely", "I'm Yours", 'Hey Jude', 'Fortunate Son', 'Dancing in the Moonlight', 'At Last']



### P2.PY

In [0]:
"""
Ordering Random Numbers
"""

# Create a list of 6 randomly generated numbers called numbers and sort it in descending order.

numbers = [-90,0,-80,100,6,2]
numbers.sort(reverse = True)
print(numbers)

[100, 6, 2, 0, -80, -90]

[link text](https://)## LIST MANIPULATION

### P1.PY

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'


cell = cell.split('.')
cell = int(''.join(cell))

print(cell) # 11921680143

11921680143



### P2.PY

In [0]:
"""
Basic Math Ops
"""

# Given the list below, assign the correct values to the variables below.
	# my_sum = 
	# my_min = 
	# my_max = 
	# my_range = 
	# my_mean =

nums = [2, 19, 20, 12, 6, 24, 8, 30, 28, 25]

my_sum = sum(nums)
my_min = min(nums)
my_max = max(nums)
my_range = max(nums) - min(nums)
my_mean = sum(nums) / len(nums)

print(f'''
	my_sum = {my_sum}
	my_min = {my_min}	
	my_max = {my_max}
	my_range = {my_range}
	my_mean = {my_mean}
''')

# Once you finish, print out each value **on its own line** in this format: "my_median = " etc.

	my_sum = 174
	my_min = 2
	my_max = 30
	my_range = 28
	my_mean = 17.4



### P3.PY

In [0]:
"""
Merge Lists with Duplicates
"""

# Use the two lists below to solve this problem. Print out the result from each section as you go along.

list1, list2 = [2, 8, 6], [10, 4, 12]

# A) Add another instance of each item in list1 to list1 again and assign the results to list3.
list3 = list1 * 2
print(list3)

# B) Combine the two given lists and assign them to list4.
list4 = list1 + list2
print(list4)


# C) Replace the first 3 items in list 3 with the numbers 13, 16, 9.
list3[:3] = [13,16,9]
print(list3)

# D) Merge list3 and list4 to create a list containing no duplicates and store this in list5.
list5 = list(set(list3 + list4))
print(list5)


# Take a look at your printed statements to see the evolution of your lists with each step of this problem.

[2, 8, 6, 2, 8, 6]
[2, 8, 6, 10, 4, 12]
[13, 16, 9, 2, 8, 6]
[2, 4, 6, 8, 9, 10, 12, 13, 16]



### P4.PY

In [0]:
"""
Cool Runnings!
"""

# Here's a quote from the movie 'Cool Runnings'. :)

# Replace the word bobsled with "YOLO" and print the resultant list as 4 sentences (i.e. NOT a list), each on a new line.

cool_runnings = [
	'Feel', 'the', 'rhythm.',
	'Feel', 'the', 'rhyme.',
	'Get', 'on', 'up.',
	'It\'s', 'bobsled', 'time!'
]

cool_runnings[bobsled] = 'YOLO'
print(cool_runnings)

l1 = cool_runnings[:3]
l1 = ' '.join(l1)

l2 = cool_runnings[3:6]
l2 = ' '.join(l2)

l3 = cool_runnings[6:9]
l3 = ' '.join(l3)

l4 = cool_runnings[9:12]
l4 = ' '.join(l4)

print(f'''
{l1}
{l2}
{l3}
{l4}
''')

print(type(l1))

['Feel', 'the', 'rhythm.', 'Feel', 'the', 'rhyme.', 'Get', 'on', 'up.', "It's", 'YOLO', 'time!']

Feel the rhythm.
Feel the rhyme.
Get on up.
It's YOLO time!

<class 'str'>

## LIST CHALLENGES

### P1.PY

In [0]:
"""
CHALLENGE - Extensions
"""

# ** Challenge** Add each element of the tuple1 to list1 *individually* and print the result.

list1 = [6, 12, 9, 4, 10, 1]
tuple1 = [(15,3), (6,2), (1, 8)]

list1.insert(6, tuple1[0][0])
print(list1)
list1.insert(7, tuple1[0][1])
print(list1)
list1.insert(8,tuple1[1][0])
print(list1)
list1.insert(9,tuple1[1][1])
print(list1)
list1.insert(10,tuple1[2][0])
print(list1)
list1.insert(11,tuple1[2][1])
print(list1)

# https://www.programiz.com/python-programming/methods/list/insert

[6, 12, 9, 4, 10, 1, 15]
[6, 12, 9, 4, 10, 1, 15, 3]
[6, 12, 9, 4, 10, 1, 15, 3, 6]
[6, 12, 9, 4, 10, 1, 15, 3, 6, 2]
[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1]
[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8]

In [0]:
list1 = [6, 12, 9, 4, 10, 1]
tuples = [(15,3), (6,2), (1, 8)]

list2 = []
list2.extend(tuple1[0])
list2.extend(tuple1[1])
list2.extend(tuple1[2])


list1.extend(list2)
print(list1)

[6, 12, 9, 4, 10, 1, 15, 3, 6, 2, 1, 8]



### P2.PY

In [0]:
"""
CHALLENGE - Core Statistics Calculations
"""

# Given the sample below, find the mean, median, mode, variance, and standard deviation of this sample. Print them out separately, but in the same format as before.
	# my_median = 
	# my_mode = 
	# my_variance = 
	# my_sd = 

sample = [6, 19, 20, 12, 6, 24, 8, 30, 28, 25]

import statistics
mean = statistics.mean(sample)
median = statistics.median(sample)
mode = statistics.mode(sample)
variance = statistics.variance(sample)
sd = statistics.stdev(sample)

# Once you finish, print out each value **on its own line** in this format: "median = " etc.

print(f'''
mean = {mean}
median = {median}
mode = {mode}
variance = {format(variance, '.2f')}
sd = {format(sd, '.2f')}
''')

mean = 17.8
median = 19.5
mode = 6
variance = 84.18
sd = 9.17

In [0]:
"""
Phone Numbers
"""

# Parse this phone number so that a computer can process
# it. (Hint: It can't include any non-numeric
# characters.)

cell = '1.192.168.0143'
cell_as_list = cell.split(".")
print(cell_as_list)
cell_without_dots = "".join(cell_as_list)
print(cell_without_dots)
cell_as_num = int(cell_without_dots)

print(cell_as_num)

['1', '192', '168', '0143']
11921680143
11921680143